.center-text {
  text-align: center;
}
.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.image {
  padding-right: 20px;
}
:host {
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 10px 10%;
}
img {
  align-self: center;
}
