<div class="main-content">
  <h3 style="text-align: center">How to register</h3>
  <div class="w-full h-full">
    <mat-card class="mat-elevation-z4 m-auto w-full">
      <mat-card-title class="m-b-24" class="center-text">
        {{ 'register.title' | translate }}
      </mat-card-title>
      <mat-card-content>
        <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step>
            <ng-template matStepLabel>TP To Terminal</ng-template>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Click To Register</ng-template>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel
              >Fill The Email And Get Password</ng-template
            >
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
          </mat-step>
        </mat-horizontal-stepper>
        <div class="images">
          <div class="image">
            <img src="assets/images/howto/terminal.png" height="200px" />
          </div>
          <div class="image">
            <img
              src="assets/images/howto/terminal_register.png"
              height="200px"
              width="350px"
            />
          </div>
          <div class="image">
            <img src="assets/images/howto/terminal_email.png" height="200px" />
          </div>
          <div class="image" style="margin-right: 0px">
            <img src="assets/images/howto/terminal_done.png" height="200px" />
          </div>
        </div>
        <div class="m-t-16" class="center-text">
          {{ 'register.have_an_account' | translate }}?
          <a routerLink="/auth/login">{{ 'login.login' | translate }}</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
