<h3 mat-dialog-title style="text-align: center">Sign Up For The Subscription</h3>
<mat-dialog-content>
  <form class="form" [formGroup]="subscriptionForm">
    <mat-form-field appearance="fill">
      <mat-label>Choose package</mat-label>
      <mat-select matNativeControl required formControlName="packageName">
        @for (package of packages; track package) {
          <mat-option [value]="package.id">{{
            package.packageName
          }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div style="display: flex; flex-direction: row">
      <mat-form-field style="margin-right: 10px; width: 5rem">
        <input
          matInput
          placeholder="Enter Duration"
          value="1"
          type="number"
          min="1"
          formControlName="quantityOfDateUnits"
          />
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label>Choose Duration</mat-label>
          <mat-select matNativeControl required formControlName="dateUnit">
            <mat-option value="Week">Week</mat-option>
            <mat-option value="Month">Month</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    @if (subscriptionForm.valid) {
      <div style="text-align: end; margin-bottom: 5px">
        Total: {{ getPackagePrice() }} l$
      </div>
    }
    <span class="disclaimer"
      ><i
      >By clicking "Confirm" the above balance will be deducted from the account and subscription
      will start immediately.</i
      ></span
      >
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [disabled]="!subscriptionForm.valid" (click)="confirmClicked()">
        Confirm
      </button>
    </mat-dialog-actions>
