<mat-dialog-content>
  <form [formGroup]="discordSettingsForm">
    <div class="form-wrapper">
      <mat-label>Webhook URL</mat-label>
      <mat-form-field appearance="fill" class="form-element">
        <input
          matInput
          placeholder="Enter Webhook URL"
          type="string"
          formControlName="webhookUrl"
        />
      </mat-form-field>
      <mat-label>SL Group UUID</mat-label>
      <mat-form-field appearance="fill" class="form-element">
        <input
          matInput
          placeholder="Enter SL Group UUID"
          type="string"
          formControlName="slGroupUuid"
        />
      </mat-form-field>
      <mat-label>Discord Channel ID</mat-label>
      <mat-form-field appearance="fill" class="form-element">
        <input
          matInput
          placeholder="Enter Discord Channel ID"
          type="string"
          formControlName="discChannelId"
        />
      </mat-form-field>
    </div>
    <div class="add-disc-bot">
      <div>Add Discord Bot to your Discord Server:</div>
      <a
        href="https://discord.com/api/oauth2/authorize?client_id=1105858061429657701&permissions=51200&scope=bot"
        target="_blank"
      >
        <div style="font-size: 50px" class="fa-brands fa-discord"></div
      ></a>
    </div>
  </form>

  <span class="disclaimer"
    ><i
      >In order for discord integration to work you need to add our discord bot to your server.</i
    ></span
  >
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="confirmClicked()">Confirm</button>
</mat-dialog-actions>
