<div class="main-content">
  <h3 style="text-align: center">How to setup Discord bot</h3>
  <mat-card
    ><mat-card-content class="intro">
      <i
        >Discord Chat Relay allows you to link second life group with you
        discord channel, meaning you will be able to see messages and talk to
        people in second life group without loging into the game.</i
      >
    </mat-card-content></mat-card
  >

  <ol>
    <li>Go to the bot settings and click on discord setttings</li>
    <img
      height="500"
      src="assets/images/howto/bot-dashboard.png"
      height="350"
    />
    <li>You need to fill the whole form for bot to work properly:</li>
    <div>
      <b>Webhook URL: </b>
      <div>
        Click on the gear icon next to the channel name (it only appears once
        you hover over the channel name with the mouse).
      </div>
      <img src="assets/images/howto/discord-channel-settings.png" />
      <br />
      Select <i>Integrations</i> on the left. Create a new webhook or use
      existing one.
      <br />
      <img src="assets/images/howto/discord-webhook-list.png" height="400" />
    </div>
    <div>
      <b>SL Group UUID: </b>Also known as Group Key, it can be found in the
      group profile.
    </div>
    <img src="assets/images/howto/sl-group-uuid.png" />
    <div>
      <b>Discord Channel ID: </b>To see Discord Channel ID, Discord developer
      mode needs to be activated (<a
        href="https://beebom.com/how-enable-disable-developer-mode-discord/"
        >How to enable developer mode on Discord</a
      >). After it is activated simply right click on the channel name and
      select <i>Copy Channel ID</i>.
    </div>
    <li>
      And now click on the discord icon to add the AutomateSL Discord bot to
      your discord server.
    </li>
    <img height="500" src="assets/images/howto/discord-settings.png" />
  </ol>
</div>
