<mat-dialog-content>
  <mat-form-field appearance="fill" style="min-width: 100%">
    <mat-label>Type of Bot</mat-label>
    <mat-select matNativeControl required [value]="'my'" (selectionChange)="botTypeChanged($event)">
      <mat-option [value]="'my'">My Bot</mat-option>
      <mat-option [value]="'shared'">Shared Bot</mat-option>
    </mat-select>
  </mat-form-field>
  <form [formGroup]="addSharedBotForm" *ngIf="botType === 'shared'">
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Choose Shared Bot</mat-label>
      <mat-select matNativeControl required formControlName="sharedBotId">
        <mat-option *ngFor="let sharedBot of data" [value]="sharedBot.id">{{
          sharedBot.loginName + ' ' + sharedBot.loginLastName
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <form class="form" [formGroup]="addBotForm" *ngIf="botType === 'my'">
    <mat-form-field>
      <mat-label>SL Username</mat-label>
      <input matInput name="botName" formControlName="slUserName" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>SL Password</mat-label>
      <input type="password" matInput name="password" formControlName="slPassword" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Login Location</mat-label>
      <mat-select
        matNativeControl
        required
        [(value)]="selectedSpawnLocation"
        formControlName="loginSpawnLocation"
      >
        <mat-option value="last">Last</mat-option>
        <mat-option value="home">Home</mat-option>
        <mat-option value="region">Region</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedSpawnLocation === 'region'">
      <mat-label>Region/X/Y/Z or URL</mat-label>
      <input matInput name="loginRegion" formControlName="loginRegion" required />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="validateForm()">Confirm</button>
</mat-dialog-actions>
