.bots-layout {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}
.bot {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bot-wrapper {
  box-sizing: border-box;
  padding: 15px;
  width: 14.2%;
}
.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.plus-card {
  cursor: pointer;
  margin-top: 16px;
  display: flex;
  width: 100px;
  height: 80px;
  align-self: center;
  justify-content: center;
}
.plus-icon {
  width: 100%;
  height: 46px;
  font-size: 46px;
  display: flex;
  justify-content: center;
}

.delete-icon {
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
}

.gear-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.refresh-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.icons {
  display: flex;
  justify-content: flex-end;
}

.bot-name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.start-icon {
  cursor: pointer;
  text-align: center;
  background-color: inherit;
  border: none;
  color: white;
}
.start-icon:disabled {
  opacity: 0.3;
}
.avatar-image {
  margin-top: 10px;
  height: 60%;
  width: 60%;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.bot-content {
  display: flex;
  flex-direction: column;
}

.spinner {
  display: inline-block;
  animation: spin 2s linear infinite; /* Adjust timing and animation as needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
