@if (showHeader) {
  <div class="matero-sidebar-header">
    <app-branding></app-branding>
    <span style="flex:1"></span>
    @if (showToggle) {
      <mat-slide-toggle
        [checked]="toggleChecked"
        (change)="toggleCollapsed.emit()"
        >
      </mat-slide-toggle>
    }
  </div>
}

<div class="matero-sidebar-main scrollbar-none">
  @if (showUser) {
    <app-user-panel></app-user-panel>
  }
  @if (showSideMenu) {
    <app-sidemenu [ripple]="showToggle"></app-sidemenu>
  }
  <ng-content></ng-content>
</div>
