<!-- <div class="matero-user-panel">
  <img
    class="matero-user-panel-avatar"
    src="assets/images/account-avatar.png"
    alt="avatar"
    width="64"
  />
  <h4 class="matero-user-panel-name">{{ user.name }}</h4>
  <h5 class="matero-user-panel-email">{{ user.email }}</h5>
  <div class="matero-user-panel-icons">
    <button mat-icon-button routerLink="/profile/overview">
      <mat-icon class="icon-18">account_circle</mat-icon>
    </button>
    <button mat-icon-button routerLink="/profile/settings">
      <mat-icon class="icon-18">settings</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon class="icon-18">exit_to_app</mat-icon>
    </button>
  </div>
</div> -->

<div class="matero-user-panel" routerLink="/profile/overview">
  <img
    class="matero-user-panel-avatar"
    src="assets/images/account-avatar.png"
    alt="avatar"
    width="64"
  />
  <div class="matero-user-panel-info">
    <h4>{{ user.name }}</h4>
    <h5>{{ user.email }}</h5>
  </div>
</div>
